 .App {
  text-align: center;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


.flex-column {
  height: 90%; 
    width: 210px; 
    position: fixed; 
    top: 40px; 
    left: 20px; 
    background-color: #FFFFEA; 
    color: #0C0A3E; 
    align-items: center;
    border-radius: 5px;
}

.logoimage{
background-image: url(./images/bad\ apple\ dark.png);
 height: 75px;
 width: 75px;
 margin-top: 2px;
}

.brandimage{
  background-image: url(./images/Brand\ name.png);
  height: 55px;
  width: 180px;
  margin-top: 10px;
}


.nav-name {
  margin-top: 18px ;
  padding: 5px;
  width: 130px;
  font-size: 17px;
  border: none;
  background-color: #0C0A3E;
  color: #FFFFEA;
  transition: background-color 0.3s;
   border-radius: 20px;

}

.nav-name:hover {
  background-color: #B33F62;
  color: #FFFFEA;
  border-radius: 20px;
}

.nav-description{
  font-size: 12px;
  text-align: center;
  margin-top: 90px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.emojiface{
  
  display: flex; 
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.content {
  margin-left: 200px;
    padding: 40px
}


.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 10px; 
    
}

.search-area {
  border-radius: 25px;
  border-color: #0C0A3E;
  background-color: #FFFFEA;
  width: 50%;
  height: 40px;
  margin-left: 10px;
  
  
}
input[type="text"]{
  padding-left: 40px;
}

.search-button {
  border-radius: 25px;
  height: 40px;
  width: 25%;
  background-color: #0C0A3E;
  color: #FFFFEA;
}

.search-button:hover {
  background-color: #B33F62;
  color: #FFFFEA;
  border-radius: 25px;
  border-color: #B33F62;
}

.search-card{
  background-color: #B33F62;
}

.img-background {
  background-image: url("./images/8x/Asset3.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
.info-container {
  color: #FFFFEA;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.dropdown {
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 30vw;
  border-radius: 25px;
  color: #FFFFEA;
  background-color: #0C0A3E;
}

.drop-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.barchart {
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 30vw;
  border-radius: 25px;
  color: #FFFFEA;
  background-color: #0C0A3E;
}

.bararea {
   align-items: center;
  justify-content: center;
  margin-left: 300px;
}

.card-villain {
  width: 25vw;
  margin: 10px;
  background-image: linear-gradient(to right, #B33F62, #FFFFEA);
  border: none;
  border-radius: 20px;
  color: #FFFFEA;
}

.group-Villain {
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.charts {
  height: 60vh;
  width: 30vw;
  color:#0C0A3E;
  background-color: #FFFFEA;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.charts2 {
  height: 60vh;
  width: 30vw;
  color:#FFFFEA;
  background-color: #0C0A3E;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.compare-chart {
  background-color: #FFFFEA;
  border-radius: 12px;
}


.timechart {
  background-color: #FFFFEA;
}


